<thead>
  <tr>
    <th>#</th>
    <th>Projet</th>
    <th>Repository</th>
    <th>Branche</th>
    <th>Owner</th>
    <th>Créé par</th>
    <th>VCS</th>
    <th>Créé le</th>
    <th></th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let p of projects()">
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>

    <td>
      <a [href]="p.repositoryUrl" target="_blank">
        {{ p.repositoryUrl }}
      </a>
    </td>

    <td><span class="tag">{{ p.branch }}</span></td>

    <td>{{ p.owner || '—' }}</td>
    <td>{{ p.createdBy || '—' }}</td>

    <td>{{ p.vcsType }}</td>
    <td>{{ p.createdAt | date:'dd/MM/yyyy' }}</td>

    <td>
      <button (click)="delete(p.id, p.name)">Supprimer</button>
    </td>
  </tr>
</tbody>